body{
    background: black;
}

#content {
    bottom: 0;
    height: 500px;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    padding: 20px;
  }
  
h1{
    font-size: 400%;
}

p{
    font-size: 250%;
  }

#aboutTitle{
    text-decoration: underline;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding:1.5%;
    border: 2px #801414 solid;
    background:#363636;
}

#foot{
    text-align:center;
    margin:0;
    color: #cc1111;
}