body{
    background: black;
}

/* #c{
    width: 100%;
    min-height: 460px;
} */

#content {
    bottom: 0;
    height: 500px;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    padding: 20px;
  }

  .scroll-down {
    position: absolute;
    left: 50%;
    bottom: 125px;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 50px;
    height: 50px;
    border-bottom: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    z-index: 9;
    left: 48%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 2s ease-in-out infinite;
    -moz-animation: fade_move_down 2s ease-in-out infinite;
    animation: fade_move_down 2s ease-in-out infinite;
  }
  
h1{
    font-size: 400%;
}

p{
    font-size: 100%;
  }

.aboutText{
    font-size:150%;
}

.icon{
    font-size: 200%;
}

#aboutTitle{
    text-decoration: underline;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding:1%;
    border: 2px #801414 solid;
    background: black;
}

#foot{
    text-align:center;
    margin:0;
    color: #cc1111;
}

.projects{
    background: black;
    border: 3px;
    border-color: #cc1111;
    }

.media-content{
    text-align: center;
}

a{
    color:#cc1111
}

a:hover{
    color:#fa5a5a
}

@media only screen and (max-width: 600px) {
    [class*=aboutText]{
        font-size:125%;
    }
}

  /*animated scroll arrow animation*/
  @-webkit-keyframes fade_move_down {
    0% {
      -webkit-transform: translate(0, -10px) rotate(45deg);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translate(0, 10px) rotate(45deg);
      opacity: 0;
    }
  }
  @-moz-keyframes fade_move_down {
    0% {
      -moz-transform: translate(0, -10px) rotate(45deg);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -moz-transform: translate(0, 10px) rotate(45deg);
      opacity: 0;
    }
  }
  @keyframes fade_move_down {
    0% {
      transform: translate(0, -10px) rotate(45deg);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translate(0, 10px) rotate(45deg);
      opacity: 0;
    }
  };