body{
    background: black;
}

/* #c{
    width: 100%;
    min-height: 460px;
} */

#content {
    bottom: 0;
    height: 500px;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    padding: 20px;
  }
  
h1{
    font-size: 400%;
}

p{
    font-size: 100%;
  }

.aboutText{
    font-size:200%;
}

.icon{
    font-size: 200%;
}

#aboutTitle{
    text-decoration: underline;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding:1%;
    border: 2px #801414 solid;
    background: black;
}

#foot{
    text-align:center;
    margin:0;
    color: #cc1111;
}

.projects{
    float:left;
    padding:15px;
    width: 250px;
    height:200px;
    margin-left: 5px
}

.projects img{
    height:200px;
    width:250px;
    margin:0
}

a{
    color:#cc1111
}

a:hover{
    color:#fa5a5a
}

@media only screen and (max-width: 600px) {
    [class*=aboutText]{
        font-size:125%;
    }
}